main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

main > div img {
  height: 56px;
}

main > div h1 {
  font-size: 48px;
}

hr {
  width: 100%;
  margin: 8px 0 64px 0;
}

.container {
  border: 1px solid lightgray;
  border-radius: 7px;
  padding: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 350px;
  text-align: center;
}

.container-buttons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.container-buttons button {
  width: 50px;
  height: 48px;
  font-size: 32px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: rgb(18, 14, 30);
}

.timer h1 {
  font-size: 56px;
}

.timer img {
  width: 72px;
  height: 72px;
  cursor: pointer;

  opacity: 0.7;
}

.timer img:hover {
  opacity: 1;
  transform: scale(1.1);
}
